.faq-section {
    width: 80%;
    margin: 100px auto;
}
#titulo_faqs{
    margin-bottom: 15px;
}
.faq-item {
    margin-bottom: 20px;
}

.question {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.answer {
    padding-left: 20px;
}
