* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin-top: 100px;
}

.header {
  background-color: black;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}

nav.nav {
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  height: 60px;
  padding: 10px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 120px;
  list-style: none;
  align-items: center;
  text-align: center;
  margin-top: 1.5em;
}

.nav-menu-item {
  font-size: 18px;
  padding: 0 20px;
  text-transform: uppercase;
  border-left: 1px solid white;
}

.nav-menu-item:nth-child(1) {
  border-left: none;
}

.nav-menu-link {
  /*padding: 8px 12px;*/
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #034574;
  transition: 0.5s;
}

.nav-toggle {
  width: 4.5em;
  height: 4.5em;
  background-color: transparent;
  border: none;
}

.nav-toggle div {
  background-color: white;
  width: 2em;
  height: .1em;
  margin: .3em auto;
  transition: .5s;
}

button.boton_menu {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
}


/* TOGGLE */
.nav-toggle {
  display: none;

}

.login-tab {
  position: absolute;
  right: 10px;
  margin-top: .80em;
  color: white;
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  right: 40px;
  height: 30px;
}

.login-tab img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid white;
  margin-bottom: .25em;
}

.login-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.fomulario_iniciar_sesion {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}





.fomulario_iniciar_sesion label {
  display: block;
  margin-bottom: 5px;
}

.fomulario_iniciar_sesion input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}


.fomulario_iniciar_sesion button[type="submit"] {
  background-color: #9D4179;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.5em;
  font-size: 16px;
  font-weight: bold;
  padding: 1em;
  margin-left: 58%;
}
















/* MOBILE */
@media (max-width: 768px) {
  body {
    margin-top: 80px;
  }

  .header {
    height: 60px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding: 5px;
    padding-bottom: 10px;
    height: 45px;
  }

  nav.nav {
    margin: 0;
  }

  .login-tab {
    position: absolute;
    right: 120px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    right: 60px;
    height: 30px;
    margin-top: 15px;
  }

  .login-tab img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 100%;
    border: 2px solid white;
  }

  .nav-menu {
    flex-direction: column;
    float: left;
    align-items: center;
    margin: 0;
    background-color: black;
    position: fixed;
    overflow: hidden;
    top: 60px;
    width: 70%;
    opacity: 80%;
    padding: 20px;
    margin-left: 30%;
    height: fit-content;
    overflow-y: auto;
    left: 100%;
    transition: right 0.3s;
  }

  .nav-menu-item {
    text-align: center;
    width: 100%;
    line-height: 20px;
    border-bottom: 1px solid white;
    border-left: none;
    font-size: 18px;
    padding: 15px 0;
  }

  .ponte_en_contacto {
    border: none;
  }

  .nav-menu-link {
    padding: 0px;
    border-radius: 3px;
    height: 180px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }
}