footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 60vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

#seccion-logo {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#logo {
    width: 80%;
}

.linea-logo {
    width: 35%;
    height: 3px;
    background-color: white;
    border: 0;
}

#contactanos {
    border: 2px solid white;
    border-radius: 2em;
    width: fit-content;
    padding: 10px 60px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#contactanos span {
    font-size: 25px;
    text-transform: uppercase;
}

#legal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#legal a span {
    font-size: 18px;
}

#linea-separatoria {
    background-color: white;
    width: 2px;
    height: 2em;
    margin: 0 10px;
}

/*\ ------------------------| MOVIL |------------------------ \*/

@media (max-width: 768px) {
    footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 20px;
        margin-top: 60vh;
        padding-top: 50px;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    #columnas {
        display: block;
    }

    #columna-conocenos,
    #columna-ayuda {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    
    #conocenos, #ayuda {
        text-transform: uppercase;
        margin-bottom: 1em;
    }
    
    #logo {
        margin-top: 70px;
        width: 50%;
    }

    #copyright {
        margin: 10px 0;
        font-size: small;
    }
}