/*
body {
    background-color: #FFF6ED;
    font-family: "Arial","Arial Helvetica", sans-serif;
}

#perfil-comercial{
    border: 1px solid black;
    margin: 0 auto;
    height: 200px;
    display: flex;
}
.foto-comercial div{
    display:flex;
    align-items: center;
    justify-content: center;
}
.foto-comercial img {
    width: 110px;
    height: 110px;
    border-radius:55px;
    border:1px solid #797979;
    margin: 0 40px 0 0;
}

#datos-comercial{
    line-height: 2;
    font-size: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    float: right;
}
 */


#ver-venta, #ver-mas{
    display: none;
}

#ventas{
    display:none;
}

#solicitudes-en-proceso {
    display: none;
}

#solicitudes-finalizadas {
    display: none;
}

#graficas-ventas {
    display:none;
}

#chart-container-mes, #chart-container-anio, #chart-container-dia {
    display:none;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}
th {
    border-bottom: solid 2px black;
}
td {
    border-bottom: solid 1px black;
    padding: .2em 3em;
}

tbody {
    border: solid 1px black;
}

tbody tr:nth-child(even) {
    background-color: #a7a7a7;
}

.mensaje-error {
    text-align: center;
    padding: 2em;
    font-weight: bold;
    color: red;
}

.btn-input input {
    max-width: 3em;
    text-align: center;
    display: none;
}

.btn-input.activo button {
    display: none;
}

.btn-input.activo input {
    display: initial;
}

