* {
    margin: 0;
}

body {
    padding: 0px;
    margin-top: 80px;
}

#contenedor_primera_visivilidad {
    height: 100vh;
}

/* Estilos boton contacto */
#boton-contacto {
    background-color: var(--secundario);
    border: 0;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

/* Estilos Container hero */
#container_hero {
    background-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(255,255,255,0)), url('../../images/fonfo_hero.jpg');
    height: 100vh;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos titulo hero */
#titulo_hero{
    margin-bottom: 50px;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    padding: 40px;
    width: 500px;
    text-align: justify;
    border-radius: 10px;
    text-align: center;
}

#parrafo {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Estilos flecha */
#flecha{
    font-size: 50px;
    color: var(--textoBotones);
    margin-top: 70px;
    animation: flecha_animada 2s ease-in-out;
    display: inline-block;
    animation-iteration-count: infinite;
}

/* Titulos centrados */
h1,h2,h3,h4{
    text-align: center;
}

/* Estilos de los prudctos */

#titulo_nuestros_productos{
    margin-top: 25px;
}

#p-productos {
    text-align: center;
    margin: 30px 0;
    font-size: 14px;
}

/* Estilos para la sección de productos */
.vista_imagen {
    width: 80%;
    object-fit: cover;
    vertical-align: center;
    margin: 10px 25px;
    transition: 2s;
    border: 2px solid var(--textoGeneral);
}

.vista_parrafo {
    text-decoration: none;
    font-family: Arial;
    color: var(--textoGeneral);
    width: 300px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
}

.linea{
    height: 1px;
    background-color: var(--textoGeneral);
    border: 1px solid var(--textoGeneral);
}

/* Estilos nuestros_valores */

#nuestros_valores ul {
    margin-top: 50px;
}

.lista_valores{
    margin-bottom: 80px;
}

.lista_valores li {
    list-style: none;
    display: flex;
}

.lista_valores .bi {
    font-size: 30px;
    color: var(--principal);
    margin-right: 20px;
}

.lista_valores li p {
    margin-top: 12px;
}

#ultima-fila {
    padding: 0;
}

/* Estilos opiniones */
.contenedor_opiniones {
    margin-top: 25px;
    max-width: 100%;
    max-height: 250px;
    max-height: 250px;
    width: 80%;
    height: 220px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 515px;
}

.nombre_usuario {
    margin-top: 16px;
    width: fit-content;
    height: 20px;
    font-size: 15px;
}

#foto-perfil {
    width: auto;
    height: 40px;   
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid var(--textoGeneral);
    padding: 0;
}

/* Estilos para la calificación de la opinión */
.calificacion div i {
    font-size: 15px;
    width: auto;
    color: #FFD700;
}

.calificacion div {
    margin-top: 16px;
}

.texto_opinion {
    border-top: solid 1px var(--textoGeneral);
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    height: fit-content;
    overflow: auto;
}

.vista_opinion {
    border: 2px solid var(--textoGeneral);
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
    margin-top: 25px;
    margin: 30px auto;
}

#foto {
    width: auto;
}

.vista_opinion .col-1 {
    width: 5px;
}

#contenedor_opiniones .container {
    display: flex;
}



/* Estilos para pantallas más pequeñas */
@media (max-width: 1200px) {
    .vista_opinion {
        width: 50%;
    }
    #contenedor_opiniones .container {
        display: block;
    }
}

@media (max-width: 768px) {
    .vista_opinion {
        width: 80%;
        margin: 10px auto;
    }

    
}


/* Estilos boton volver arriba */
#boton-volver-arriba {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: var(--principal);
    color: var(--textoBotones);
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 25px;
    width: 200px;
    text-align: center;
}

#boton_volver_arriba:hover {
    background-color: var(--hover);
}

/* animacion flecha bajar */
@keyframes flecha_animada {
    from {
        transform: translateY(0);
    } 50% {
        transform: translateY(20px);
    } to {
        transform: translateY(0);
    }
}

@media(max-width: 1446px) {

}

/* Estilos aplicados en dispositivos con un ancho máximo de 768px */
@media(max-width: 768px){
    
    /* Estilos aplicados al elemento 'body' en dispositivos móviles */
    body {
        margin-top: 60px;
    }

    /* Estilos aplicados al elemento con el id 'container_hero' en dispositivos móviles */
    #container_hero {
        padding-top: 0px ;
        margin-top: 0px;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Estilos aplicados al elemento con el id 'titulo_hero' en dispositivos móviles */
    #titulo_hero{
        margin-top: 10px;
    }

    /* Estilos aplicados a la clase 'overlay' en dispositivos móviles */
    .overlay {
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: -30px;
        padding: 15px;
        width: 250px;
        border-radius: 10px;
        text-align: center;
    }

    /* Estilos aplicados al elemento con el id 'button' en dispositivos móviles */
    #button {
        margin-top: 10px;
        background-color: var(--secundario);
        color: var(--textoBotones);
        font-size: 25px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Estilos aplicados al elemento con el id 'parrafo' en dispositivos móviles */
    #parrafo {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    /* Estilos aplicados al elemento con el id 'nuestros_valores' y su lista no ordenada en dispositivos móviles */
    #nuestros_valores ul{
        margin-top: 50px;
    }

    /* Estilos aplicados a la clase 'lista_valores' en dispositivos móviles */
    .lista_valores{
        margin-bottom: 80px;
    }

    /* Estilos aplicados a las imágenes dentro de los elementos 'li' de la clase 'lista_valores' en dispositivos móviles */
    .lista_valores li img {
        width: 30px;
        margin-right: 20px;
    }

    .vista_imagen {
        width: 60%;
    }
}
