dialog {
    margin: auto auto;
    height: 50%;
    width: 60%;
}

dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

#cancelar {
    margin-bottom: 20px;
    background-color: transparent;
    border: 0;
}

#cancelar img{
    margin-right: 15px;
    padding-top: 3px;
}

#editar-huerto label, 
#editar-huerto input{
    margin-top: 10px;
    margin-bottom: 10px;
}

#fecha_huerto_dia,
#fecha_huerto_mes,
#fecha_huerto_año {
    width: 40px;
}

#enviar {
    border-radius: 5px;
    background-color: #9D4179;
    border: 0;
    color: #FFFFFF;
    height: 35px;
    width: 150px;
    align-items: center;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 1em;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 5%;
}

#botones_añadir_selección {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#botones_añadir_selección #seleccionar_huerto {
    width: 80%;
    background-color: lightgray;
}

#botones_añadir_selección #entrada {
    width: 15%;
    background-color: #9D4179;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

#mediciones {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

#mediciones h2 {
    text-align: center;
    background-color: #FFF6ED;
    padding-bottom: 15px;
}

#mediciones div {
    width: 300px;
    margin-bottom: 50px;
    height: 200px;
    background-color: #9C4078;
}

#mediciones div .circulo {
    margin-top: 12px;
    width: 129px;
    height: 129px;
    border-radius: 50%;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 15px;
    background-color: #CAF982;
}

.datos_usuario {
    width: 300px;
    margin: 0 auto;
}

.datos_usuario input {
    margin-bottom: 20px;
    margin-right: 10px;
}

#nombre,
#apellidos {
    width: 100px;
}

#nombre-apellidos {
    display: flex;
}

#cambios_perfil {
    border-radius: 5px;
    background-color: #9D4179;
    border: 0;
    color: #FFFFFF;
    height: 35px;
    width: 150px;
    align-items: center;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 1em;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 5%;
}

#formulario-hoja-usuario label {
    display: inline-block;
    width: 40%;
    text-align: left;
}


#icono-editar {
    margin-left: 10px;
    padding: 0;
    border: 0;
    position: relative;
    top: 6px;
}

#mediciones div .botones_gráficas {
    height: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#mediciones div .botones_gráficas button {
    width: 50%;
}

#mediciones img {
    position: relative;
    right: 120px;
}

/*CSS de ajustes usuario*/

#ajustes-usuario>.datos_usuario {
    display: flex;
    align-items: center;
    padding: 4%;
}

#ajustes-usuario>.datos_usuario>form {
    width: 300px;
}

#ajustes-usuario>.datos_usuario>form>input {
    display: flex;
    align-items: center;
}

#ajustes-usuario>.datos_usuario>form>#cambios {
    alignment: right;
    margin-left: 400px;
    flex: 1 1 0;
}

#ajustes-usuario>.datos_usuario>form>label {
    width: 10px;
}


CSS Seccion citas

#citas>table {
    flex: 1 1 0;
    width: 100%;
    border: 1px solid black;
}

#citas>table>thead {
    margin: auto;
}

#citas>table>tbody>tr>td {
    justify-content: center;
}

.boton-aceptar-rechazar img {
    width: 15px;
    margin-right: 5px;
}
.boton-aceptar-rechazar {
    border-radius: 5px;
    background-color: #9D4179;
    border: 0;
    color: #FFFFFF;
    height: 35px;
    width: 110px;
    align-items: center;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: .5em;
    display: flex;
    margin-bottom: 2px;
}