/* Definición de variables de colores */
:root {
    --principal: #790050;
    --secundario: #9D4179;
    --textoBotones: #FFFFFF;
    --textoGeneral: #000000;
    --auxiliar: #D7D7D7;
    --fondo: #FFF6ED;
}

/* Estilos generales para el cuerpo de la página */
body {
    margin-top: 120px;
}

.header{
    z-index: 1000;
}

/*
    ==============================================================================
                            ESTILOS SECCIÓN DE HUERTOS
    ==============================================================================
                                                                                    */
.cabecera_huertos {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2.5rem;
}

/*Estilos para el selector de huertos*/
.selector_de_huertos {
    width: 20rem;
    height: 2.5rem;
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
    background-color: #D7D7D7;
    border: #000000 1px solid;
    font-size: 1.2rem;
}

/*Estilo del botón de ajustes del huerto*/
.boton_abrir_ajustes_huerto {
    width: 7rem;
    height: 2.5rem;
    border-radius: 5px;
    padding: 4px 4px 4px 4px;
    font-weight: bold;
    font-size: .9rem;
    color: #f9f9f9;
    background-color: #790050;
    border: none;
    margin-left: 1rem;
    align-self: start;
}

/*Estilo del contenedor de nombre + foto del huerto*/
.nombre-huerto-container {
    display: flex;
    width: 40%;
    margin: 0 2.5rem;
}

/*Estilo de la foto del huerto*/
.nombre-huerto-container img {
    width: 6rem;
    height: 6rem;
}

/*Estilo nombre del huerto*/
.nombre-huerto-container .nombre-huerto {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    margin: 0 2rem;
}

.acordeon{
    display:none;
}
/*Estilos del visualizador de datos de los sensores*/
.visualizador_de_datos{
    width: 90%;
    height: 50%;
    margin: 2rem auto;
}

/*Estilo para las pestañas del visualizador de datos*/
.tabs{
    display:flex;
    width: 80%;
    margin: 0 auto;
}

.tabs button {
    border: .5px solid #FFFFFF;
    border-bottom: none;
    padding: 2rem;
    border-radius: .3rem .3rem 0 0;
    flex: 1 1 auto;
    background-color: #D7D7D7;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tabs button.activo{
    display:flex;
    flex: 2 1 auto;
    justify-content: center;
    background: #790050;
    color: #FFFFFF;
    align-items: center;
}

.tabs button:hover,
.tabs button.activo:hover{
    background-color: #9D4179;
    color: #FFFFFF;
}

/*Estilos para los títulos de las pestañas del visualizador de datos*/
.tabs button p{
    font-size: 1.5rem;
}

.tabs button.activo p.dato_actual_tab{
    display:none;
}

/*Estilo de los iconos de alerta*/
.alertas-container{
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-start;
    align-items: center;

}

.alerta_grave {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: #cd0404;
    margin:0;
}

.alerta_grave:hover,
.alerta_grave:focus,
.alerta_grave:active,
.alerta_grave span,
.alerta_grave:focus-visible{
    background-color: transparent !important;
    border: none;
    color: #c05353 !important;
    outline: none;
    box-shadow: none!important;
}

.alerta_media {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: #cd6904;
    margin:0;
}

.alerta_media:hover,
.alerta_media:focus,
.alerta_media:active,
.alerta_media span,
.alerta_media:focus-visible{
    background-color: transparent !important;
    border: none;
    color: #be894d !important;
    outline: none;
    box-shadow: none !important;
}

/*Estilos para la zona de los datos, donde está la gráfica y los datos actuales*/
.cuerpo_del_visualizador article{
    border: 0;
    width: 80%;
    height: 40rem;
    padding: 1rem;
    display: none;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.cuerpo_del_visualizador article.activo {
    display: flex;
}

/*Estilos para el contenedor de la gráfica su filtro*/
.cuerpo_del_visualizador article .grafica-container {
    width: 70%;
    height: 100%;
}
/*Estilos para el filtro de la gráfica*/
.cuerpo_del_visualizador article .grafica-container div {
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
}

.cuerpo_del_visualizador article .grafica-container div select {
    width: 10%;
    height: 1.8rem;
    flex: .5 1 auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.cuerpo_del_visualizador article .grafica-container div form.seleccionar_fecha{
    display: none;
}

.cuerpo_del_visualizador article .grafica-container div form .hasta{
    margin-left: 1rem;
    margin-right: 1rem;
}

/*Estilos de la gráfica*/
.cuerpo_del_visualizador article .grafica-container div.chart-container {
    width: 100%;
    height: 90%;
}

.cuerpo_del_visualizador article section.datos_y_descripcion_alerta_container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

/*Estilos del dato actual*/
.cuerpo_del_visualizador article .dato_actual {
    margin: 0 auto;
    background-color: #D7D7D7;
    height: 50%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .dato_actual p{
    font-size: 2.5rem;
}

/*Estilos de la descripción de la alerta*/
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .alerta_descripcion{
    width: 100%;
    height:auto;
    margin-top: 2rem;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}

.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .alerta_descripcion p {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .alerta_descripcion button {
    width: 50%;
    align-self: center;
    border: none;
    background-color: transparent;
    color: #790050;
}

.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .alerta_descripcion button:hover {
    color: #9D4179;
}

/*Estilos para el dialogo de cambiar limites de medidas, que se pulsa desde el visualizador de datos*/
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog.atajo_cambiar_limites_medidas {
    display:none;
}

/*Estilos para cuando abramos el dialogo*/
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog.activo {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 1rem;
    border: none;
    background-color: #FFF6ED;
    padding: 2rem;
    margin: auto auto;
    height: fit-content;
    width: 40%;
}

/*Estilos del fondo del diálogo*/
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog::backdrop {
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(3px);
}

/*Estilos del párrafo del diálogo*/
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog p{
    font-size: 1.1rem;
}

/*Estilos de los inputs del diálogo*/
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog input,
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog button {
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #D7D7D7;
}

/*Estilos del botón guardar y cancelar del diálogo*/
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog button{
    background-color: #790050;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: .9rem;
}

.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog button:hover{
    background-color: #9D4179;
    font-weight: bold;
}


/*Estilos para cuando abramos el dialogo de luz*/
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog#dialogo_atajo_luz.activo {
    border-radius: 1rem;
    border: none;
    background-color: #FFF6ED;
    padding: 2rem;
    margin: auto auto;
    display: block;
    width: 40%;
}

.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog#dialogo_atajo_luz input {
    margin: .5rem 0;
}

.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog#dialogo_atajo_luz select {
    margin: 0 .5rem;
}

/*Estilos del botón guardar y cancelar del diálogo de luz*/
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog#dialogo_atajo_luz div.botones_editar_guardar_luz {
    display:flex;
    justify-content: flex-end;
}
.cuerpo_del_visualizador article .datos_y_descripcion_alerta_container dialog#dialogo_atajo_luz button{
    background-color: #790050;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: .9rem;
    margin: 0 .5rem;
}

/*
    ======================================================================================
                        ESTILOS DE LA SECCIÓN DE AJUSTES DEL HUERTO
    ======================================================================================
                                                                                            */

/*Estilos del diálogo*/
dialog.ajustes_de_huerto {
    display:none;
}

dialog.ajustes_de_huerto.activo{
    margin: auto auto;
    background-color: var(--fondo);
    border:none;
    border-radius: 5px;
    padding: .5rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
}

dialog.ajustes_de_huerto::backdrop{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(3px);
}

/*Estilos del botón de cerrar*/
dialog.ajustes_de_huerto button.boton_cerrar_ajustes_huerto{
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;
    border:none;
    text-align: end;
    width: 5%;
    margin-left:auto;
}

/*Estilos para el título de ajustes de huerto*/
dialog.ajustes_de_huerto h3{
    text-align: center;
    margin-bottom: 1rem;
}

/*Estilos para cambiar la foto y el nombre del huerto*/
dialog.ajustes_de_huerto div.container-nombre-imagen{
    display:flex;
    align-items: baseline;
    justify-content: center;
    font-size: 1.1rem;
}

dialog.ajustes_de_huerto div.container-nombre-imagen div.imagen_ajustes{
    display:flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

dialog.ajustes_de_huerto div.container-nombre-imagen div.imagen_ajustes img{
   height: 30%;
    width: 30%;
}

/*Estilos para las notas*/
dialog.ajustes_de_huerto div.notas{
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    font-size: 1.1rem;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom:2rem;
}

dialog.ajustes_de_huerto div textarea{
    width: 50%;
    height: 5rem;
    margin-left: 1rem;
}

/*Estilos para el switch de las notificaciones*/
.notificaciones div{
    display:flex;
    justify-content: flex-end;
    margin: 1rem;
}
.custom-switch.custom-switch-md .custom-control-label {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

.custom-switch.custom-switch-md .custom-control-label::before {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}

.custom-switch.custom-switch-md .custom-control-label::after {
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    border-radius: calc(2rem - (1.5rem / 2));
}

.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(1.5rem - 0.25rem));
}

/*Estilos para los campos de poner los límites de las medidas*/
dialog.ajustes_de_huerto form.limites_medidas,
dialog.ajustes_de_huerto form.limites_medidas p{
    font-size: 1.1rem;
}

dialog.ajustes_de_huerto form.limites_medidas p {
    margin-top: 2rem;
    font-weight: bold;
}

dialog.ajustes_de_huerto form.limites_medidas input[type="checkbox"] {
    margin:2rem .5rem 2rem 2rem;
    transform: scale(1.5); /* Ajusta el valor según el tamaño deseado */
    -ms-transform: scale(1.5); /* Para compatibilidad con navegadores antiguos */
    -webkit-transform: scale(1.5); /* Para compatibilidad con navegadores basados en webkit*/
}

/*Estilos para los botones de editar y guardar*/
dialog.ajustes_de_huerto div.botones_editar_y_guardar{
    display:flex;
    justify-content: flex-end;
}

dialog.ajustes_de_huerto div.botones_editar_y_guardar button.boton_editar_ajustes,
dialog.ajustes_de_huerto div.botones_editar_y_guardar input[type="submit"]{
    background-color: var(--principal);
    color: var(--textoBotones);
    border-radius: 5px;
    border:none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
    width: 30%;
}

dialog.ajustes_de_huerto div.botones_editar_y_guardar input[type="submit"]{
    display:none;
}

@media(max-width: 2300px){
    /*Estilos del dato actual*/
    .cuerpo_del_visualizador article .dato_actual {
        height: 50%;
        width: 60%;
        border-radius: 60%;
    }
}

@media(max-width: 2200px){
    /*Estilos del dato actual*/
    .cuerpo_del_visualizador article .dato_actual {
        height: 45%;
        width: 60%;
        border-radius: 50%;
    }
}

@media(max-width: 2000px){
    .tabs button p{
        font-size: 1.3rem;
    }
    /*Estilos para el visualizador de datos*/
    .cuerpo_del_visualizador article{
        height: 35rem;
    }

    /*Estilos del dato actual*/
    .cuerpo_del_visualizador article .dato_actual {
        height: 50%;
        width: 70%;
        border-radius: 50%;
    }

}

@media(max-width: 1800px){

    .tabs button {
        padding: 1rem;
    }

    /*Estilos del dato actual*/
    .cuerpo_del_visualizador article .dato_actual {
        height: 50%;
        width: 70%;
        border-radius: 50%;
    }

}

@media(max-width: 1700px) {

    .cuerpo_del_visualizador article {
        height: 30rem;
    }

    /*Estilos del dato actual*/
    .cuerpo_del_visualizador article .dato_actual {
        height: 50%;
        width: 70%;
        border-radius: 50%;
    }

    .cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .dato_actual p{
        font-size: 2rem;
    }

}

@media(max-width: 1550px) {
    .tabs button {
        padding: 0.5rem;
    }
}

@media(max-width: 1400px) {

    .visualizador_de_datos {
        width: 100%;
    }

    /*Estilo para las pestañas del visualizador de datos*/
    .tabs{
        width: 80%;
    }
    /*Estilos para los títulos de las pestañas del visualizador de datos*/
    .tabs button p{
        font-size: 1.1rem;
    }

    /*Estilos del dato actual*/
    .cuerpo_del_visualizador article .dato_actual {
        height: 40%;
        width: 60%;
        border-radius: 50%;
    }

    .cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .dato_actual p{
        font-size: 1.5rem;
    }

    .cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .alerta_descripcion p {
        font-size: 1rem;
    }
}

@media(max-width: 1200px) {

    /*Estilos para la zona de los datos, donde está la gráfica y los datos actuales*/
    .cuerpo_del_visualizador article{
        width: 90%;
        height: 30rem;
        padding: 1rem;
    }
    /*Estilo para las pestañas del visualizador de datos*/
    .tabs{
        width: 90%;
    }
    /*Estilos para los títulos de las pestañas del visualizador de datos*/
    .tabs button p{
        font-size: 1.1rem;
    }

    /*Estilos del dato actual*/
    .cuerpo_del_visualizador article .dato_actual {
        height: 40%;
        width: 60%;
        border-radius: 50%;
    }

    .cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .dato_actual p{
        font-size: 1.5rem;
    }

    .cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .alerta_descripcion p {
        font-size: 1rem;
    }
}

@media(max-width: 1100px){

    .cuerpo_del_visualizador article{
        width: 95%;
        height: 30rem;
        padding: 1rem;
    }
    /*Estilo para las pestañas del visualizador de datos*/
    .tabs{
        width: 95%;
    }

    .cuerpo_del_visualizador article .dato_actual {
        height: 40%;
        width: 70%;
        border-radius: 50%;
    }

    .cuerpo_del_visualizador article.grafica_luz .dato_actual {
        height: 40%;
        width: 60%;
        border-radius: 50%;
    }
    /*Estilos para los títulos de las pestañas del visualizador de datos*/
    .tabs button p{
        font-size: 1rem;
    }

    .cuerpo_del_visualizador article .datos_y_descripcion_alerta_container .alerta_descripcion p {
        font-size: .9rem;
    }
}



/*Con esta medida cambiamos de formato de visualizar los datos y lo hacemos con acordeón*/
@media(max-width: 900px){
    .visualizador_de_datos{
        display:none;
    }

    .acordeon {
        display:block;
        margin-top: 2rem;

    }

    .enlaces_a_flecha {
        display:flex;
        justify-content: space-between;
        width: 100%;
        font-size: 2rem;
        align-items: center;
        border:none;
        background-color: transparent;
        color: var(--textoBotones);
        padding: .5rem;
    }

    .enlaces_a_flecha:hover{
        color: var(--textoBotones);
        text-decoration: none;
    }

    .enlaces_a_flecha .alertas-container{
        flex: 1 1 auto;
    }

    .card {
        width: 90%;
        margin: 0 auto;
        background-color: transparent;
        border: 0;
    }

    /* Estilos para el encabezado de las tarjetas en el acordeón */
    .card-header {
        background-color: var(--principal);
        border-bottom: .5px solid var(--textoBotones);
        border-radius: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding:0 1rem;
    }

    .card-header:hover{
        background-color: var(--secundario);
    }

    .triangulo{
        display: flex;
        align-items: center;
    }

    .triangulo p{
        margin:0;
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    /* Estilos específicos para el encabezado de la primera tarjeta en el acordeón */
    #headingOne.card-header {
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    /* Estilos específicos para el encabezado de la quinta tarjeta en el acordeón */
    #headingFive.card-header {
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
        border-bottom: 0;
    }

    /* Estilos para la sección de mediciones */
    #mediciones {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10%;
    }

    /* Estilos para las imágenes en la sección de mediciones */
    #mediciones img {
        width: 30px;
        margin-left: 20px;
        height: fit-content;
    }

    /* Estilos para los círculos en la sección de mediciones */
    .circulo {
        margin: 20px 0;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-size: 30px;
    }

    /* Estilos para los botones de gráficas */
    .botones_gráficas {
        height: 30px;
        display: flex;
        margin-bottom: 0;
    }

    .botones_gráficas button {
        width: 50%;
    }

    /* Estilos para la caja de medición */
    #caja-medicion {
        width: 100%;
        height: 170px;
        background-color: gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
    }

    #caja-medicion img {
        margin-left: 40px;
    }

    .card-body {
        background-color: white;
    }

    #espacio-vacio {
        width: 60px;
    }
}



/* Estilos para dispositivos con un ancho máximo de 768px*/
@media (max-width: 768px) {
    body {
        margin-top: 80px;
    }

    #seleccionar_huerto {
        height: fit-content;
        padding: 7px;
        margin-top: 3px;
    }
}
